<h1>Yay! You're on Relational Rails</h1>

<h3><%= link_to 'National Parks', '/national_parks', method: :get %></h3>
<h3><%= link_to 'Trails', '/trails', method: :get %></h3>
<h3><%= link_to 'Campgrounds', '/campgrounds', method: :get %></h3>
<h3><%= link_to 'Campsites', '/campsites', method: :get %></h3>
