<h1>Yay! You're on Relational Rails</h1>

<h3><a href="/national_parks">National Parks</a></h3>
<h3><a href="/trails">Trails</a></h3>
<h3><a href="/campgrounds">Campgrounds</a></h3>
<h3><a href="/campsites">Campsites</a></h3>
