<h1>All Campgrounds</h1>

<% @campgrounds.each do |campground| %>
  <h3>
    <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
    <%= campground.created_at %>
  </h3>
<% end %>

<a href="/campgrounds/new">New Campground</a>
