<h1>All Campsites</h1>

<% @campsites.each do |campsite| %>
  <h3>
    <a href="/campsites/<%= campsite.id %>"><%= campsite.name %></a>
    <%= button_to 'Edit', "/campsites/#{campsite.id}/edit", method: :get %>
  </h3>
<% end %>
