<h1>All Campsites</h1>

<% @campsites.tent_only.each do |campsite| %>
  <h3>
    <a href="/campsites/<%= campsite.id %>"><%= campsite.name %></a>
    <%= button_to "Edit #{campsite.name}", "/campsites/#{campsite.id}/edit", method: :get %>
    <%= button_to "Delete #{campsite.name}", "/campsites/#{campsite.id}", method: :delete %>
  </h3>
<% end %>
